{{>/user/header}}

    <div class="container">
        <div class="my_auth_box">
            <div class="my_auth_form_box">
<div class="my_auth_form_box_title">programmers</div>
<form action="/join" method="post">
    <input class="my_auth_form_box_input" type="text" name="" placeholder="username" maxlength="20" required/>
    <input class="my_auth_form_box_input" type="password" name="" placeholder="password" maxlength="20" required/>
    <input class="my_auth_form_box_input" type="password" name="" placeholder="password확인" maxlength="20" required/>
    <input class="my_auth_form_box_input" type="email" name="" placeholder="email" maxlength="60" required/>
    <button class="my_secondary_btn" type="submit">완료</button>
</form>
<div class="my_auth_form_box_link">
    <div> 
        <a href="/login-form">로그인</a>
        </div>
<div>비밀번호 찾기 </div>
</div>
            </div>
            </div>
    </div>


{{>/layout/footer}}